#score {
	position: absolute;
	width: 300px;
	height: 20px;
	top: 5px;
	left: 5px;
	padding: 5px;
	color: #fff;
	text-align: left;
}
#score_actual {
	color: #00d20e;
}
#lives {
	color: #fff;
	height: 20px;
	width: 185px;
	position: absolute;
	right: 5px;
	top: 5px;
	padding: 5px;
}
.life {
	margin: 0;
	padding: 0;
}
#board_holder {
	overflow: hidden;
	font-family: "Courier New" Courier monospace;
	width: 500px;
	height: 400px;
	background: #000;
	border: 10px solid #333;
	position: relative;
}
#board {
	font-family: "Courier New" Courier monospace;
	width: 500px;
	height: 400px;
	position: relative;
}
.barrier {
	width: 10px;
	height: 10px;
	background: #00d20e;
	z-index: 10;
	position: absolute;
}
#invaderHolder {
	border: 1px solid #fff;
}
.mothership {
	width: 32px;
	height: 14px;
	position: absolute;
	background: url('../assets/mothership.gif');
}
.invader {
	width: 25px;
	height: 18px;
	position: absolute;
	z-index: 100;
	background-image: url('../assets/invaders.gif');
}
.bullet {
	width: 2px;
	height: 5px;
	position: absolute;
	background: #fff;
}
.invaderBullet {
	width: 5px;
	height: 8px;
	background: url('../assets/invader_bullet.gif');
}
.ship {
	width: 30px;
	height: 16px;
	position: absolute;
	background: url('../assets/ship.gif') 0px -16px;
}
#board h2 {
	font-size: 20px;
}
#board {
	font-size: 16px;
}
li {
	list-style: none;
}
#game_over {
	color: #fff;
	margin-top: 150px;
	text-align: center;
}
body {
	background: #000;
	text-align: center;
}
#board_holder {
	margin: 100px auto 0 auto;
}
#adsenseUnit {
	width: 730px;
	margin: 30px auto 10px auto;
}
#info {
	width: 300px;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	text-align: left;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}
#info h1 {
	font-size: 1.2em;
}
#info p a {
	text-decoration: underline;
	color: #fff;
}
#info p a:hover {
	text-decoration: none;
	color: #fff;
}
/* Localized */